html, body{
    margin: 0;
    background-color: black;
    font-family: 'Nova Mono', monospace;
}
#game-canvas{
    display: block;
}
.main-menu{
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(#303030, #101010);
    color: #d0d0d0;
    text-align: center;
    display: none;
}
.main-menu-title{
    font-size: 15vmin;
    margin: 5vmin 0 10vmin 0;
    display: inline-block;
    color: #ffffff
}
.main-menu-selection{
    font-size: 5vmin;
    margin: 1vmin;
    display: inline-block;
    border: solid 1px;
    padding: 0 1vmin;
}
.main-menu-selection:hover{
    background-color: green;
    border-color: green;
    cursor: pointer;
}
.main-menu-sub{
    display: none;
}
.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
